/* You can add global styles to this file, and also import other style files */

$primary: #857aff;
$secondary: #377dff;
$info: #c87aff;
$dark: #2e2e2e;

@import '../../../libs/app-shell/src/index.scss';

@import './assets/themes/mdc-dark-deeppurple/theme.scss';

html {
	font-size: 14px !important;
	box-sizing: border;
}

body {
	// font-family: 'Bubblegum Sans';
	font-family: verdana, arial, sans-serif;
	background-color: $secondary;
	color: white;
}

// OVERRIDES
body .p-calendar.p-calendar-w-btn .p-inputtext {
	width: 87%;
}

.p-calendar {
	width: 100%;
}

.p-dropdown {
	width: 100%;
}

.p-inputtext {
	width: 100%;
}

.p-inputnumber {
	width: 100%;
}

.p-breadcrumb {
	background: transparent !important;
	border: none !important;
	position: absolute;
	top: 0;
	left: 0;
}
