<lib-page-container>
	<ng-template #header>
		<div class="w-100">
			<div class="w-100 bg-primary shadow-lg">
				<button pButton class="p-button-text" (click)="showSidebar = true">
					<img src="assets/icons/icon-36x36.png" class="ml-3 clickable" />
				</button>
			</div>
		</div>
	</ng-template>
	<ng-template #main>
		<router-outlet></router-outlet>
	</ng-template>
</lib-page-container>

<p-toast position="bottom-center" key="appToast"></p-toast>

<p-sidebar [(visible)]="showSidebar" *ngIf="auth.isAuthenticated()">
	<lib-page-container>
		<ng-template #header>
			<p-breadcrumb [model]="appService.breadcrumbs" [home]="appService.home"></p-breadcrumb>
		</ng-template>
		<ng-template #main>
			SIDEBAR CONTENT
		</ng-template>
		<ng-template #footer>
			<div class="w-100 pt-1">
				<button pButton class="w-100" label="Log Out" icon="pi pi-sign-out"></button>
			</div>
		</ng-template>
	</lib-page-container>
</p-sidebar>
